.trending{
    padding: 4rem 0 3rem;  
}

.trending-content{
    height: 75vh;
}

img{
    width: 100%;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
    padding: 10px;
    
}

.heading{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.heading .bx{
    background: var(--main-color);
    color: #fff;
    font-weight: 900;
    padding: 5px 15px;
    border-radius: 50%;
}

.heading h2{
    font-size: 1.5rem;
    font-weight: 1000;
    
}

.box{
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 0.5rem;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.box .box-text{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: hsl(227,14%, 20%, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 0.5rem;
} 
